.nav{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

.nav-inner{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 20px 0;   
}

.logo{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}
.menu a{
    color:black;
    text-decoration:none;
}
.menu a:hover{
    color: #007BFF;
}


.hero{
    align-items: center;
}


.hero-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.hero-text{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}


.hero{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.work-card img{
    height: 260px;
    width: 100%;
}

.work-body h3{
    font-size: 24px;
    margin: 16px 0 0 0;
}

.work-card:hover{
    transform: translateY(-4px);
    transition: 0.15s ease;
}

/* footer styles */
.footer{
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
    color: #777;
}

.links{
    display: flex;
    gap: 20px;  
}


.links a{
    color: #777;
    text-decoration: none
}

.links a:hover{
    color: #007BFF;
}
